assets/images/icons/*
assets/images/productos/*
assets/images/slides/*

system/*
user_guide/*

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

*.sublime-project
*.sublime-workspace

!.gitignore